/* Header.module.css */

.header {
    background-color: transparent;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    border-bottom: none;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    justify-content: space-between;
    gap: 1rem;

    /* Hintergrund hell, abgerundete Ecken, Schatten */
    background-color: #f3f5f7;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0.5rem 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #2c3e50;
}

a {
    color: #2c3e50;
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    transition: background-color 0.3s ease, color 0.3s ease;
}



.activeLink {
    background-color: #a9bcd0;
    font-weight: 700;
    color: #1b2a41;
}


nav>div.left-links {
    display: flex;
    gap: 1rem;
    flex-grow: 1;
    justify-content: flex-start;
    flex-wrap: wrap;
}

nav>div.right-links {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}